body {
	background: white;
}

.btn {
	margin-bottom: 10px;
}

form > * {
	margin-bottom: 10px;
}

#navigator {
	height: 40px;
	width: 100%;
	background: lightslategray;
	margin-bottom: 10px;
	padding-top: 10px;
}
#navigator a {
	color: white;
	margin-right: 10px;
}
