<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Web</title>

	<link href="${request.contextPath}/css/bootstrap.css" rel="stylesheet" />
	<!--
	<link href="${request.contextPath}/css/styles.less" rel="stylesheet/less" />
	-->
	<link href="${request.contextPath}/css/main.css" rel="stylesheet" />
</head>
<body>
<div id="navigator">
	<div class="container">
		<a href="${request.contextPath}/">Home</a>
		<a href="${request.contextPath}/list">List</a>
		<a href="${request.contextPath}/post">New</a>
	</div>
</div>
