<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Web</title>

	<link href="${request.contextPath}/css/bootstrap.css" rel="stylesheet" />
	<link href="${request.contextPath}/css/main.css" rel="stylesheet" />
</head>
<body>
	
	<div class="container">
		<h1>Welcome</h1>
		<a href="${request.contextPath}/list" class="btn btn-default">List</a>
	</div>
	
	<script src="${request.contextPath}/js/jquery.js"></script>
	<script src="${request.contextPath}/js/bootstrap.min.js"></script>
</body>
</html>