<#include "header.html">
<style>
	p {
		max-width: 640px;
		padding-top: 10px;
		margin: 0 auto;
	}
</style>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a href="${request.contextPath}/view/${post.id}">
					${post.topic}
				</a>
			</h3>
		</div>
		<div class="panel-body">
			<#if post.file != "unknown.jpg">
			<img class="highlight" 
				src="${request.contextPath}/upload/${post.file}" 
			/>
			</#if>
			<p>
				${post.detail}
			</p>
		</div>
	</div>
</div>
<#include "footer.html">
